# Virtual muhit (venv)
venv/
.venv/

# Python kesh va vaqtinchalik fayllar
__pycache__/
*.pyc
*.pyo
*.pyd

# Konfiguratsiya va maxfiy fayllar
.env
*.log
db.sqlite3
instance/

# IDE fayllari
.vscode/
.idea/
*.iml
